In [1]:
import numpy as np
import pandas as pd

In [73]:
s=pd.read_csv("root2ai-Data.csv")

In [74]:
s

                                                    Text      Target
0      reserve bank forming expert committee based in...  Blockchain
1              director could play role financial system  Blockchain
2      preliminary discuss secure transaction study r...  Blockchain
3      security indeed prove essential transforming f...  Blockchain
4      bank settlement normally take three days based...  Blockchain
...                                                  ...         ...
22699  fourth study discusses blockchain technology e...    Reg Tech
22700  book finishes stating biggest issue emerging F...    Reg Tech
22701                                people culture cess    Reg Tech
22702  author challenges execu tive lead change stop ...    Reg Tech
22703  change data driven culture come bottom must start    Reg Tech

[22704 rows x 2 columns]

In [18]:
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
x=s[['Text']]
y=s[['Target']]

In [24]:
x

                                                    Text
0      reserve bank forming expert committee based in...
1              director could play role financial system
2      preliminary discuss secure transaction study r...
3      security indeed prove essential transforming f...
4      bank settlement normally take three days based...
...                                                  ...
22699  fourth study discusses blockchain technology e...
22700  book finishes stating biggest issue emerging F...
22701                                people culture cess
22702  author challenges execu tive lead change stop ...
22703  change data driven culture come bottom must start

[22704 rows x 1 columns]

In [21]:
y

           Target
0      Blockchain
1      Blockchain
2      Blockchain
3      Blockchain
4      Blockchain
...           ...
22699    Reg Tech
22700    Reg Tech
22701    Reg Tech
22702    Reg Tech
22703    Reg Tech

[22704 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [58]:
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [59]:
x_train

                                                    Text
9906   senior leadership commitment clear vision inno...
20019                                             barrel
3003                                                cern
12763  ironically stark contrast business wholehearte...
8691   operating made possible generate sufficient pr...
...                                                  ...
5520   space providing varied like digital fraud prev...
3046                                     retrieved april
20463                   might take adapt data protection
18638  speaking advisory currently client acquisition...
2915                                           data deal

[18163 rows x 1 columns]

In [60]:
y_train

               Target
9906          FinTech
20019   Stock Trading
3003          Bigdata
12763         FinTech
8691          FinTech
...               ...
5520   Cyber Security
3046          Bigdata
20463   Data Security
18638   Robo Advising
2915          Bigdata

[18163 rows x 1 columns]

In [62]:
x_test

                                                    Text
11230  with shifting need building need design centra...
15204  avoid confusion singular upper case letter lab...
2766                                         pmid pubmed
16189                                         most never
1649   they learn example make mathematically perfect...
...                                                  ...
22094                                     americanbanker
6603   critical digital must strive collaborate inter...
22674  book offers Amazon example company fully lever...
8465   sector fast great variety concept exist academ...
9083              recent future research service science

[4541 rows x 1 columns]

In [63]:
y_test

               Target
11230         FinTech
15204         FinTech
2766          Bigdata
16189         FinTech
1649          Bigdata
...               ...
22094        Reg Tech
6603   Cyber Security
22674        Reg Tech
8465          FinTech
9083          FinTech

[4541 rows x 1 columns]

In [66]:
len(x_train)

18163

In [69]:
len(y_train)

18163

In [70]:
len(x_test)

4541

In [72]:
len(y_test)

4541